In [3]:
import pandas as pd
import matplotlib as plt

weather_df = pd.read_csv("./data/Summary of Weather.csv")
stations_df = pd.read_csv("./data/Weather Station Locations.csv")

/tmp/ipykernel_27614/1048950420.py:4: DtypeWarning: Columns (7,8,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  weather_df = pd.read_csv("./data/Summary of Weather.csv")

In [4]:
print(weather_df.head())
print(stations_df.head())

     STA      Date Precip  WindGustSpd    MaxTemp    MinTemp   MeanTemp  \
0  10001  1942-7-1  1.016          NaN  25.555556  22.222222  23.888889
1  10001  1942-7-2      0          NaN  28.888889  21.666667  25.555556
2  10001  1942-7-3   2.54          NaN  26.111111  22.222222  24.444444
3  10001  1942-7-4   2.54          NaN  26.666667  22.222222  24.444444
4  10001  1942-7-5      0          NaN  26.666667  21.666667  24.444444

  Snowfall PoorWeather  YR  ...  FB  FTI ITH  PGT  TSHDSBRSGF  SD3  RHX  RHN  \
0      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN
1      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN
2      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN
3      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN
4      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN

  RVG  WTE
0 NaN  NaN
1 NaN  NaN
2 NaN  NaN
3 NaN  NaN
4 NaN  NaN

[5 rows x 31 columns]
    WBAN            NAME STATE/COUNTRY ID    LAT     LON  ELEV   Latitude  \
0  33013          AIN EL               AL  3623N  00637E   611  36.383333
1  33031        LA SENIA               AL  3537N  00037E    88  35.616667
2  33023  MAISON BLANCHE               AL  3643N  00314E    23  36.716667
3  33044        TELERGMA               AL  3607N  00621E   754  36.116667
4  12001         TINDOUF               AL  2741N  00809W   443  27.683333

   Longitude
0   6.650000
1   0.583333
2   3.216667
3   6.416667
4  -8.083333

In [5]:
weather_df.isna().value_counts()

STA    Date   Precip  WindGustSpd  MaxTemp  MinTemp  MeanTemp  Snowfall  PoorWeather  YR     MO     DA     PRCP   DR     SPD    MAX    MIN    MEA    SNF    SND    FT    FB    FTI   ITH   PGT    TSHDSBRSGF  SD3   RHX   RHN   RVG   WTE
False  False  False   True         False    False    False     False     True         False  False  False  False  True   True   False  False  False  False  True   True  True  True  True  True   True        True  True  True  True  True    79935
                                                                         False        False  False  False  False  True   True   False  False  False  False  True   True  True  True  True  True   False       True  True  True  True  True    30311
                                                                                                                                                            False  True  True  True  True  True   False       True  True  True  True  True     3083
                                                                         True         False  False  False  False  True   True   False  False  False  False  False  True  True  True  True  True   True        True  True  True  True  True     1835
                                                                                                           True   True   True   False  False  False  False  True   True  True  True  True  True   True        True  True  True  True  True     1621
                                                               True      False        False  False  False  False  True   True   False  False  False  True   True   True  True  True  True  True   False       True  True  True  True  True      466
                                                               False     True         False  False  False  False  True   True   True   True   True   False  True   True  True  True  True  True   True        True  True  True  True  True      422
                                                               True      True         False  False  False  False  True   True   False  False  False  True   True   True  True  True  True  True   True        True  True  True  True  True      406
                      False        False    False    False     False     True         False  False  False  False  False  False  False  False  False  False  False  True  True  True  True  False  True        True  True  True  True  True      316
                                                                         False        False  False  False  False  False  False  False  False  False  False  False  True  True  True  True  False  False       True  True  True  True  True      208
                      True         False    False    False     True      True         False  False  False  True   True   True   False  False  False  True   True   True  True  True  True  True   True        True  True  True  True  True      206
                                                               False     False        False  False  False  True   True   True   False  False  False  False  False  True  True  True  True  True   False       True  True  True  True  True       54
                                                               True      False        False  False  False  False  True   True   False  False  False  True   False  True  True  True  True  True   False       True  True  True  True  True       50
                                                               False     True         False  False  False  False  True   True   True   False  True   False  True   True  True  True  True  True   True        True  True  True  True  True       22
                                                               True      False        False  False  False  True   True   True   False  False  False  True   True   True  True  True  True  True   False       True  True  True  True  True       22
                                                               False     False        False  False  False  True   True   True   False  False  False  False  True   True  True  True  True  True   False       True  True  True  True  True       12
                                                                         True         False  False  False  False  True   True   False  True   True   False  True   True  True  True  True  True   True        True  True  True  True  True       11
                                                                         False        False  False  False  False  True   True   True   True   True   False  True   True  True  True  True  True   False       True  True  True  True  True       10
                                                               True      True         False  False  False  False  True   True   True   True   True   True   True   True  True  True  True  True   True        True  True  True  True  True        8
                      False        False    False    False     False     False        False  False  False  False  False  False  False  False  False  False  False  True  True  True  True  True   False       True  True  True  True  True        8
                      True         False    False    False     False     True         False  False  False  True   True   True   False  True   True   False  True   True  True  True  True  True   True        True  True  True  True  True        8
                                                                                                                                       False  False  False  False  True  True  True  True  True   True        True  True  True  True  True        6
                                                                         False        False  False  False  False  True   True   True   False  True   False  True   True  True  True  True  True   False       True  True  True  True  True        6
                                                               True      False        False  False  False  False  True   True   True   True   True   True   True   True  True  True  True  True   False       True  True  True  True  True        2
                                                               False     False        False  False  False  False  True   True   False  True   True   False  True   True  True  True  True  True   False       True  True  True  True  True        2
                                                                         True         False  False  False  True   True   True   True   False  True   False  True   True  True  True  True  True   True        True  True  True  True  True        2
                                                               True      False        False  False  False  False  True   True   True   True   True   True   False  True  True  True  True  True   False       True  True  True  True  True        2
                                                               False     True         False  False  False  False  True   True   False  True   False  False  True   True  True  True  True  True   True        True  True  True  True  True        2
                                                                                                                                       False  True   False  True   True  True  True  True  True   True        True  True  True  True  True        2
                                                               True      False        False  False  False  True   True   True   False  True   True   True   True   True  True  True  True  True   False       True  True  True  True  True        1
                                                               False     True         False  False  False  False  False  True   False  False  False  False  False  True  True  True  True  False  True        True  True  True  True  True        1
Name: count, dtype: int64

In [6]:
stations_df.head()

,WBAN,NAME,STATE/COUNTRY ID,LAT,LON,ELEV,Latitude,Longitude
0,33013,AIN EL,AL,3623N,00637E,611,36.383333,6.650000
1,33031,LA SENIA,AL,3537N,00037E,88,35.616667,0.583333
2,33023,MAISON BLANCHE,AL,3643N,00314E,23,36.716667,3.216667
3,33044,TELERGMA,AL,3607N,00621E,754,36.116667,6.416667
4,12001,TINDOUF,AL,2741N,00809W,443,27.683333,-8.083333

In [7]:
stations_df.isna().value_counts()

WBAN   NAME   STATE/COUNTRY ID  LAT    LON    ELEV   Latitude  Longitude
False  False  False             False  False  False  False     False        161
Name: count, dtype: int64

In [8]:
print(weather_df['DA'].corr(weather_df['MinTemp']))
print(weather_df['DA'].corr(weather_df['MaxTemp']))
print(weather_df['DA'].corr(weather_df['MeanTemp']))

-0.002575746623847104
-0.005130090090327308
-0.004152820980840224